<div class="mt-2 bg-light text-black py-3  ">
        <h2>Agrega Los Datos De Tu Grupo</h2>
        <form class="mt-3" (ngSubmit)="agregarDatosEquipo()">
                <div class="form-group">
                  <label for="formGroupExampleInput">Nombre Grupo</label>
                  <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Ingresa Tu Nombre De Grupo"
                  name="nombreGrupo"
                  [(ngModel)]="DatosObtenidosEquipo.nombreGrupo"
                  >
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Carrera Cursada</label>
                  <select class="form-control form-control-lg">
                      <option *ngFor="let indexEquipo of obtenerDatosCarrera"
                      >{{indexEquipo.CarreraNombre}}</option>
                    </select>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingresa Carrera Cursada"
                  name="carreraCursada"
                  [(ngModel)]="DatosObtenidosEquipo.carreraCursada"
                  >
               
                </div>
                <div class="form-group">
                 <label for="formGroupExampleInput2">Intregrante -1</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingresa Primer Integrante"
                name="Integrante1"
                  [(ngModel)]="DatosObtenidosEquipo.integrante1"
                  >

              </div>
            <div class="form-group">
             <label for="formGroupExampleInput2">Integrante -2</label>
               <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingresa Segundo Integrantet"
               name="Integrante2"
               [(ngModel)]="DatosObtenidosEquipo.integrante2">
            </div>
            <div class="form-group">
                    <label for="formGroupExampleInput2">Integtrante -3</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingresa Tercer Integrante"
                      name="Integrante3"
                      [(ngModel)]="DatosObtenidosEquipo.integrante3">
                   </div>
                   <div class="form-group">
                        <label for="formGroupExampleInput2">Integrante -4</label>
                          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingresa Cuarto Integrante"
                          name="Integrante4"
                          [(ngModel)]="DatosObtenidosEquipo.integrante4">
                       </div>
                       <div class="form-group">
                            <label for="formGroupExampleInput2">Integrante -5</label>
                              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingresa Quinto Integrante"
                              name="Integrante5"
                              [(ngModel)]="DatosObtenidosEquipo.integrante5">
                           </div>
                   
<button class="btn btn-warning mt-3" type="submit">Agregar</button>

    
              </form>
</div>




