<div class="mt-5">
    <h2>Inicio</h2>
    <p>
            Hace unos años atrás, comenzó mi historia en Ceutec, está Universidad la escogí porque confiaba en la publicidad que generaba.
            Una vez ya conociendo la realidad, entendí que no todos los procesos son buenos, y que debemos de aceptar que existe un conjunto prolongado de servicios que aún no están a la altura de una universidad como la nuestra.
            En este documento hablaremos sobre la calidad de los procesos blindados por el sistema informático, logístico, etc., que la Universidad Ceutec de Unitec nos proporciona.
    </p>
</div>