<div class="main-content">
  <div class="container-fluid">
  <div class="card">
  <div class="card-header card-header-danger">
    <h2 class="card-title">Equipos Registrado Al Evento </h2>
    <p class="card-category">Ahora Puede Dar Calificacion Al Equipo Que Gustes.</p>
  </div>
  <div class="card-body">
  <div id="typography">
  <div class="card-title">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let indexEquipo of obtenerDatosEquipo, index as i">

   <h3 >No De Equipo:  {{indexEquipo.equipoId}}</h3>
   <h3 >Nombre De Equipo:  {{indexEquipo.equipopNombre}}</h3>
   <div class="modal-footer" >
      <button type="button"  (click)="editarItem(indexEquipo)" class="btn btn-success" data-dismiss="modal"  data-toggle="modal" data-target="#exampleModal" >Calificar Equipo {{indexEquipo.equipopNombre}}</button>
     </div>
      </li>
        </ul>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header card-header-danger">
                  <h3 class="modal-title" id="exampleModalLabel">Calificar : {{editar.equipopNombre}}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                         <div class="modal-body">
                            <form novalidate [formGroup]="FormularioGuardar" (submit)="onSubmit(FormularioGuardar.value)">     
                            <div class="card-title">
                              <ul class="list-group">
                                <li class="list-group-item" *ngFor="let indexCalificacion of obtenerDatosCriterioCalificacion; let i = index" >
                                        <div class="col-md-10 mt-4" >
                                        <div > 
                                            <input class="d-none" type="text" [ngModel]="editar.equipoId" formControlName="equipo_Id" >
                                          </div> 
                                      <div >
                                          <div >
                                            <h4>{{indexCalificacion.criterioCalificacionNombre}}</h4>
                                              
                                              


                                            <select class="form-control"  formControlName="calificacionValor">
                                                <option value="" disabled selected>Seleccione El Valor a Evaluar Criterio</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                              </select>


                                        
                                        </div>
                                       </div>
                                     </div>
                                <button id="-{{i}}" name="-{{i}}" mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="FormularioGuardar.invalid" (click)="getIdCriterio(indexCalificacion.criterioCalificacionId)" >Guardar Criterio. {{i+1}} </button>       
                                <div class="clearfix"></div>
                              </li>
                            </ul>
                          </div>
                              </form>
                          </div>
                          <div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
            </div>
          </div>