<div class="mt-2 bg-light text-black py-2  ">
  <div class="mt-5">
    <h2 class="mt-2">Agregar Nombre Evento </h2>
    <p>
    </p>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let indexEquipo of obtenerDatosEquipo, index as i">

     <h4>Numero De Equipo:  {{indexEquipo.equipoId}}</h4>
     <h6 >Nombre De Equipo:  {{indexEquipo.equipoNombre}}</h6>
     <a [routerLink]="['/equipo',i]" >Leer más...</a>
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="indexEditar(indexEquipo)" data-toggle="modal" data-target="#exampleModal">Calificar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEquipoServicio(indexEquipo.equipoId)" >Eliminar</button>
      </div>
        </li>
      </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar: {{editarEquipo.nombreGrupo}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
              </button>
              </div>
               <div class="modal-body">




      <form (ngSubmit)="agregarItemEditado()">
               <div>
                 <label> Califica Segun La Formalidad Del Grupo : </label>
                 <p></p>
                 <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"
                    name="presentacionGrupo" 
                 [(ngModel)]="editarEquipo.presentacionGrupo">
                    <label class="form-check-label" for="inlineRadio1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"
                    name="presentacionGrupo" 
                 [(ngModel)]="editarEquipo.presentacionGrupo">
                    <label class="form-check-label" for="inlineRadio2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3"
                    name="presentacionGrupo" 
                 [(ngModel)]="editarEquipo.presentacionGrupo">
                    <label class="form-check-label" for="inlineRadio3">3</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4"
                      name="presentacionGrupo" 
                 [(ngModel)]="editarEquipo.presentacionGrupo">
                      <label class="form-check-label" for="inlineRadio3">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5"
                        name="presentacionGrupo" 
                 [(ngModel)]="editarEquipo.presentacionGrupo">
                        <label class="form-check-label" for="inlineRadio3">5</label>
                      </div>
                    </div>
                    <p></p>
          <div>
                 <label> Califica Segun Trabajo En Equipo : </label>
                 <p></p>
                 <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"
                    name="trabajoEnEquipo" 
                 [(ngModel)]="editarEquipo.trabajoEnEquipo">
                    <label class="form-check-label" for="inlineRadio1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"
                    name="trabajoEnEquipo" 
                 [(ngModel)]="editarEquipo.trabajoEnEquipo">
                    <label class="form-check-label" for="inlineRadio2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3"
                    name="trabajoEnEquipo" 
                 [(ngModel)]="editarEquipo.trabajoEnEquipo">
                    <label class="form-check-label" for="inlineRadio3">3</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4"
                      name="trabajoEnEquipo" 
                 [(ngModel)]="editarEquipo.trabajoEnEquipo">
                      <label class="form-check-label" for="inlineRadio3">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5"
                        name="trabajoEnEquipo" 
                        
                 [(ngModel)]="editarEquipo.trabajoEnEquipo">
                        <label class="form-check-label" for="inlineRadio3">5</label>
                      </div>
                    </div>





        
        <button class="btn btn-warning mt-3" type="submit" >Agregar</button>
       </form>










             </div>
            <div>
        </div>
      </div>
    </div>
  </div>
</div>
