<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <a>
                    Edwin Claros | 
                </a>
                <a>
                    Jorge Alvarenga | 
                </a>
                <a>
                    Joan Espinal | 
                </a>
                <a>
                    Leonardo Mendoza
                </a>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a> Guardian Team | </a> Ing. Software II
        </div>
    </div>
</footer>
