<div class="mt-5">
    <h2>Nosotros</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid nihil atque quis illum dolorem officiis ab a dolore minima sed accusantium, consequuntur, illo ducimus eum omnis architecto cupiditate error maxime!
    </p>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of equipo, index as i" >
     <h6>Nombre: {{item.nombre}}</h6>
     <h6>Especialidad: {{item.especialidad}}</h6>
     <a [routerLink]="['/equipo',i]">Leer más...</a>
    </li>
      </ul>
</div>